*{padding:0; margin:0}
html, body{width:100%; height:100%}
body{ min-width:1004px;height:100%; font-size:12px; font-family: "Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti,"Microsoft YaHei";  z-index:1 ;color:#666}
body.showmenu{/*background: url(../images/main/left_bg.png) 0 0 repeat-y*/}
body.hidemenu{background:none}
ul{list-style:none}

body{

scrollbar-arrow-color: #9ce1f5; /*上下按钮上三角箭头的颜色*/
scrollbar-face-color: #9ce1f5; /*滚动条凸出部分的颜色*/
scrollbar-3dlight-color: #ffffff; /*滚动条亮边的颜色*/
scrollbar-highlight-color:  #ffffff; /*滚动条空白部分的颜色*/
scrollbar-shadow-color:  #ffffff; /*滚动条阴影的颜色*/
scrollbar-darkshadow-color:  #ffffff; /*滚动条强阴影的颜色*/
scrollbar-track-color:  #ffffff; /*滚动条背景颜色*/
scrollbar-base-color:  #ffffff; /*滚动条的基本颜色*/
}

/*---滚动条默认显示样式--*/  
::-webkit-scrollbar-thumb{background-color:#9ce1f5;   height:50px; outline-offset:0px; outline:0px solid #fff;  border: 2px solid #fff;  
}  
/*---鼠标点击滚动条显示样式--*/  
::-webkit-scrollbar-thumb:hover{background-color:#9ce1f5; height:50px; }  
/*---滚动条大小--*/  
::-webkit-scrollbar{width:0px;height:8px; }  
/*---滚动框背景样式--*/  
::-webkit-scrollbar-track-piece{background-color:#fff; }


.head{width:100%; height:50px;  z-index:100; position:relative; background:#0a83d2 ;}
.head .top_logo{float:left; padding-top:0px; text-align:left}
.head .top_logo img{ width:50px; height:50px;*height:46px;}
.head .top_link{ height:50px; line-height:50px; float:right;color:#ffffff;}
.head .top_link ul{float:left; padding:0px; }
.head .top_link ul li{float:left;color:#ffffff; background:url(../images/navlibg.jpg) repeat-y left top; text-indent:20px; text-align:left;}
.head .top_link ul li a{ display:block; padding:0 18px; cursor:pointer;}
.head .top_link ul li.i_self{ height:50px; position:relative}
.head .top_link ul li.i_self a{display:block; background:url(../images/main/main_link_ico.png) no-repeat 18px 17px}
.head .top_link ul li.i_self a:hover{display:block; background:url(../images/main/main_link_ico.png) no-repeat 18px 17px #046cbb}
.head .top_link ul li.i_self a i{ background:url(../images/ico02.png) no-repeat; width:8px; height:8px; position:absolute; right:5px; top:0;  margin:21px 5px;-webkit-transition: -webkit-transform 0.2s ease-in 0s;-moz-transition: -moz-transform 0.2s ease-in 0s;
-o-transition: -o-transform 0.2s ease-in 0s;-ms-transition: -ms-transform 0.2s ease-in 0s;transition:transform 0.2s ease-in 0s;}
.head .top_link ul li.hover{ height:108px;  position:relative; z-index:100; background:none}
.head .top_link ul li.hover a{background:url(../images/main/main_link_ico.png) no-repeat 18px -183px #FFF; color:#000}
.head .top_link ul li.hover a:hover{background:url(../images/main/main_link_ico.png) no-repeat 18px -183px #FFF;}
.head .top_link ul li.hover a i{background:url(../images/ico01.png) no-repeat!important; width:8px; height:8px; float:right; margin:22px 5px;-webkit-transform: rotate(180deg);-moz-transform: rotate(180deg);-o-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}
.head .top_link ul li.i_hide_menu{ position:relative}
.head .top_link ul li.i_hide_menu .tu{ display:none; position:absolute; color:#504f4f; text-align:center; line-height:25px; background:#FFF;  z-index:100;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); width:132px; height:160px;}
.head .top_link ul li.i_hide_menu .tu a{ padding:0}
.head .top_link ul li.i_hide_menu .tu img{ width:132px; height:132px; display:block}
.head .top_link ul li.i_hide_menu a{ background:url(../images/main/main_link_ico.png) no-repeat 18px -82px;}
.head .top_link ul li.i_hide_menu a:hover{background:url(../images/main/main_link_ico.png) no-repeat 18px -82px #046cbb}
.head .top_link ul li#i_home{}
.head .top_link ul li#i_home a{ display:block; background:url(../images/main/main_link_ico.png) no-repeat 18px -33px}
.head .top_link ul li#i_home a:hover{ display:block; background:url(../images/main/main_link_ico.png) no-repeat 18px -33px #046cbb}
.head .top_link ul li.hover .i_exit{ display:block;}
.head .top_link ul li.hover .i_exit a{ background:#FFF}
.head .top_link ul li .i_exit{ display:none; width:100%; box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); position:absolute; left:0; top:50px; z-index:100}
.head .top_link ul li .i_exit a{ color:#000;}
.head .top_link ul li#i_exit{}
.head .top_link ul li#i_exit a{ display:block; background:url(../images/main/main_link_ico.png) no-repeat 14px -132px}
.head .top_link ul li#i_exit a:hover{ background:url(../images/main/main_link_ico.png) no-repeat 14px -132px #046cbb}
.head .top_link ul li#i_help{}
.head .top_link ul li a{color:#ffffff; text-decoration:none}
.open01{ text-indent:0!important; padding:0 15px 0 0!important}
.open01 a{ background:url(../images/gou01.jpg) no-repeat right center!important; text-align:center}
.open02 a{ background:url(../images/gou.jpg) no-repeat right center!important; text-align:center}


/*Download by http://www.codefans.net*/
.nav{float:left; text-align:center; margin:0 auto;}
.nav ul li{float:left; display:block;font-weight:bold; font-size:12px; padding-left:5px;  height:50px;}
/*只针对单图png,不支持背景定准
.nav ul li a{float:left; background:#22b7eb url(../images/main/ico_bg.png) no-repeat center 5px; width:70px; height:57px; line-height:57px; color:#ffffff; text-decoration:none; text-align:center;_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop,src='http://yang.com/ico_bg.png');_ background-image: none;}
*/
.nav ul li a{float:left; background:url(../images/navlibg.jpg) repeat-y center right; width:101px; height:50px; line-height:50px; color:#ffffff; text-decoration:none; text-align:center;}
.nav ul li a b{ display:block;line-height:50px; font-weight:normal; font-size:14px;}
.nav ul li a:hover{ background-color:#0a83d2;}
.nav ul li a.thisclass, .nav ul li a.thisclass:hover{background-color:#0a83d2; color:#fff}
.nav ul li#menu_0 a{}
.nav ul li#menu_1 a{}
.nav ul li#menu_2 a{background-position: center -295px;}
.nav ul li#menu_3 a{background-position: center -395px;}

body.showmenu .left{display:block; background:#293038;}
body.hidemenu .left{display:none}
body.showmenu .right{left:170px}
body.hidemenu .right{left:0px}

.left{position:absolute;top:45px;width:155px;left:0px;bottom:0px;z-index:7;overflow-x:hidden;overflow-y:auto; }
.left{*height:100%;*top:0;*bottom:0;*border-top:45px solid #FFF;*border-bottom:0px solid #FFF;*z-index:1;}
.right{position:absolute;right:0;top:50px;bottom:0px;z-index:7;}
.right{*height:100%;*top:0;*bottom:0;*border-top:63px solid #FFF;*border-bottom:0px solid #FFF;*z-index:1;}
.rightContent{height:100%;}
.rightContent iframe{height:100%;width:99.99%;z-index:20;}
.left .span{background:#ffffff; height:5px; width:100%; overflow:hidden;}

.menu div{ display:none}
.menu dl{float:left; width:155px; margin-top:0px;display:inline; font-size:14px; margin-bottom:8px;}
.menu dl dt{float:right; background:url(../images/ico06.png) no-repeat #22282e; background-position: 23px center; *background-position: 23px 10px; width:155px; height:40px;  *height:40px; text-indent:49px; line-height:40px; color:#fff; display:block ; overflow:hidden; cursor:pointer; clear:both}
.menu dl dt.a2{background:url(../images/ico07.png) no-repeat 23px center #22282e;*background-position: 23px 10px; }
.menu dl dt.a3{background:url(../images/ico08.png) no-repeat 23px center #22282e;*background-position: 23px 10px; }
.menu dl dt.a4{background:url(../images/ico09.png) no-repeat 23px center #22282e;*background-position: 23px 10px; }
.menu dl dt i{ float:right; display:table-cell;height:30px; width:5px; /*background:url(../images/ico01.png) no-repeat  center 16px;*/ margin-right:20px;-webkit-transition: -webkit-transform 0.2s ease-in 0s;
-moz-transition: -moz-transform 0.2s ease-in 0s;
-o-transition: -o-transform 0.2s ease-in 0s;
-ms-transition: -ms-transform 0.2s ease-in 0s;
transition:transform 0.2s ease-in 0s;}
.menu dl dt.hover i{ -webkit-transform: rotate(90deg);
-moz-transform: rotate(90deg);
-o-transform: rotate(90deg);
-ms-transform: rotate(90deg);
transform: rotate(90deg);
/* background:(../images/ico02.png) no-repeat center 16px;*/ width:8px;}
.menu dl dd{clear:both; display:none}
.menu dl dd ul li{float:right; width:100%; text-indent:37px;height:34px; line-height:34px; overflow:hidden; display:block; font-size:12px}
.menu dl dd ul li a{ width:100%;overflow:hidden; display:block; color:#FFF; text-decoration:none}
.menu dl dd ul li a:hover{color:#fff; background-color:#37424f; line-height:34px; border-right-width:0px; height:34px;}
.menu dl dd ul li a.thisclass, 
.menu dl dd ul li a.thisclass:hover{color:#FFF;  background:url(../images/ico05.png) no-repeat right center #0a83d2 ; border-right-width:0px; height:34px;}

.qucikmenu{position:absolute; right:10px; top:50px; z-index:9; display:none}
.qucikmenu ul{width:110px; list-style:none; border:1px solid #E7E7E7; background:#FFF}
.qucikmenu ul li{display:block; text-align:left}
.qucikmenu ul li a{height:29px; line-height:29px; display:block; color:#666; padding-left:10px; padding-right:10px; text-decoration:none}
.qucikmenu ul li a:hover{text-decoration:none; background:#F7F7F7}
.pagemask{width:100%; height:100%; background:#000; position:absolute; z-index:100; filter:alpha(opacity=70); -moz-opacity:0.7; opacity:0.7; display:none}
.iframemask{position:absolute; z-index:80; top:0; left:0; background-color:#fff; border:none; filter:alpha(opacity=0); -moz-opacity:0; opacity:0; height:100%; width:100%; display:none}

body.showmenu .right02{ background:#eaedf1; width:0; display:none; box-shadow:0 0 3px #666;}
.right02 .menu dl{ border-bottom:none; background:#FFF; width:155px;}
.right02 .menu dl dt { background:#d9dee4; height:50px;line-height:50px;overflow: hidden;text-overflow: ellipsis; white-space: nowrap; width: 100%; text-indent:14px; font-weight:bold;color: #333333;}
.right02 .menu dl dd{ display:block}
.right02 .menu dl dd ul li { background:#eaedf1; border-bottom:1px solid #ccd3db; margin-bottom:1px; display: block;float:right; font-size:12px; height: 38px; line-height: 38px;overflow: hidden; text-indent:35px; width: 100%;}

.right02 .menu dl dd ul ul.ulul{ display:none  }
.right02 .menu dl dd ul ul.ulul li{background:#eaedf1; text-indent:50px;}
.right02 .menu dl dd ul ul.ulul li a{ color: #666;}
.right02 .menu dl dd ul li a {color: #666; display: block; overflow: hidden; text-decoration: none;}
.right02 .menu dl dd ul li a:hover{ background:#f4f6f8 ; line-height:38px; height:38px; overflow:hidden}
.right02 .menu dl dd ul li.bb{ height:37px;}
.right02 .menu dl dd ul li.bb a{background:url(../images/ico10.png) no-repeat 20px center #eaedf1;}
.right02 .menu dl dd ul li.bb a:hover{background:url(../images/ico10.png) no-repeat 20px center #eaedf1;}
.right02 .menu dl dd ul li.aa{background: #eaedf1; text-indent:15px}
.right02 .menu dl dd ul li.aa a{}
.right02 .menu dl dd ul li.aa a:hover{ height:38px;background:#eaedf1;}
.right02 .menu dl dd ul li.aa a.thisclass{ height:38px;background:#FFF;}
.right02 .menu dl dd ul li.aa a.thisclass:hover{ height:38px;background: #FFF;}

.right02 .menu dl dd ul li.bb a{}
.right02 .menu dl dd ul li.bb a:hover{background:url(../images/ico10.png) no-repeat 20px center #f4f6f8;}
.right02 .menu dl dd ul li.bb a.thisclass{ background:url(../images/ico12.png) no-repeat 20px center;}
.right02 .menu dl dd ul li.bb a.thisclass:hover{background:url(../images/ico12.png) no-repeat 20px center;}
.right02 .menu dl dd ul li a.thisclass, 
.right02 .menu dl dd ul li a.thisclass:hover{color:#666; height:38px; line-height:38px; background:#FFF ; border-right-width:0px;}
.right02 .menu dl dd ul ul.ulul li a:hover{ background: #f4f6f8; line-height:38px;}
.right02 .menu dl dd ul ul.ulul li a.thisclass, 
.right02 .menu dl dd ul ul.ulul li a.thisclass:hover{color:#333;  background:#FFF ; border-right-width:0px; height:38px;}
.right02 .menu dl dd ul ul.bbbb{ display:block}
.sidebar_left{ margin-top:8px; float:left}
/*.open{ width:20px; height:64px; position:absolute; left:320px; top:50%; cursor:pointer; z-index:100; background:url(../images/ico04.png) no-repeat;display:none}
.close{width:18px; height:64px; position:absolute; left:170px; top:50%; cursor:pointer; z-index:100; background:url(../images/ico03.png) no-repeat right center; display:none}*/