<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>

</head>
<body>
<style>
	.s_span{padding-right:3px;padding-left:5px;}
</style>
<div class="main">
	<div class="pos">{$type}</div>
	<div class="operate">
		<div class="left">
			<form method="post" action="{:U('Answer/userqa')}">
				<span class="s_span">公司名</span><input type="text" name="scompany" class="inp_one" value="{$scompany}" >
				<span class="s_span">姓名</span><input type="text" name="sname" class="inp_one" value="{$sname}" >
				<span class="s_span">手机号</span><input type="text" name="sphone" class="inp_one" value="{$sphone}" >
				<span class="s_span">区域</span>
					<select name="sarea">
						<option value="" <?php if(empty($sarea)){?>selected="selected"<?php }?>>请选择</option>
						<option value="无锡" <?php if($sarea=='无锡'){?>selected="selected"<?php }?>>无锡</option>
						<option value="盐城" <?php if($sarea=='盐城'){?>selected="selected"<?php }?>>盐城</option>
						<option value="淮安" <?php if($sarea=='淮安'){?>selected="selected"<?php }?>>淮安</option>
						<option value="其他" <?php if($sarea=='其他'){?>selected="selected"<?php }?>>其他</option>
					</select>
				<span class="s_span">答对数</span>
					<input type="text" name="smin" class="inp_one" style="width:50px;" value="<?php if(!empty($smin)){ echo $smin;}?>" >~
					<input type="text" name="smax" class="inp_one" style="width:50px;"  value="<?php if(!empty($smax)){ echo $smax;}?>" >
				<span class="s_span">答题批号</span><input type="text" name="sno" class="inp_one" value="<?php if(!empty($sno)){ echo $sno;}?>" >
				<input type="submit" class="btn_blue" style="float: none" value="查  询">
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<div class="operate">
		<style>
			ul,li,a{ text-decoration:none;list-style: none; }
			.vatice{overflow: hidden;border-bottom:1px solid #ccc;font-size: 16px;}
			.vatice li{ float: left;padding:0 10px 5px; text-align:center;  }
			.vatice li a{ color:#666; }
			.vatice li.on,.vatice li:hover{ border-bottom:2px solid #21a0fd; }
		</style>
		<ul class="vatice">
			<foreach name='tab_list' item='tab'>
				<?php if($tab['type']<5 ){ ?>
				<li <?php if($qtype==$tab['type']){ ?>class="on" <?php }?>><a href="{:U('Answer/userqa',array('qtype'=>$tab['type']))}">{$tab.qa_name}</a></li>
				<?php }?>
			</foreach>

		</ul>
	</div>
	<div class="list">
		<form action="" method="post" id="form_do" name="form_do">
			<table width="100%">
				<tr>

					<th>编号</th>
					<th style="width: 120px">公司名</th>
					<th>姓名</th>
					<th>手机号</th>
					<th>区域</th>
					<th>答对题目数</th>
					<th>答题批号</th>
					<th>答题时间</th>
					<th>ip</th>
				</tr>
				<foreach name='vlist' item='v'>
					<tr>

						<td rowspan="2">{$v.id}</td>
						<td  style="width: 120px">{$v.company}</td>
						<td >{$v.name}</td>
						<td >{$v.phone}</td>
						<td >{$v.area}</td>
						<td style="font-weight: bold">
							<span class="red">{$v.score}</span>
						</td>
						<td >{$v.number}</td>
						<td>{$v.addtime|date='Y-m-d H:i:s', ###}</td>
						<td >{$v.ip}</td>
					</tr>
					<tr>
						<td colspan="8" style="text-align: left;">
							<?php
								$an_arr=unserialize($v['answer']);
								foreach($an_arr as $k=>$a){
									echo '第'.$k.'题:';
									echo implode(',',$a)."；&nbsp;";
								}
							?>
						</td>
					</tr>
				</foreach>
			</table>
			<div class="page" style="clear: both;">{$page}</div>
		</form>
	</div>
</div>

</body>
</html>