<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jBox.config.js"></script>
	<script type="text/javascript" src="{:U('Public/editor')}"></script>
	<script type="text/javascript">
        var data_path = "__DATA__";
        var tpl_public = "__PUBLIC__";
        var tpl_upload = "__UPLOAD__";
	</script>
	<script type="text/javascript">
        $(function () {
            //缩略图上传
            var litpic_tip = $(".litpic_tip");
            var btn = $(".litpic_btn span");
            $("#fileupload").wrap("<form id='myupload' action='{:U('Public/upload')}' method='post' enctype='multipart/form-data'></form>");
            $("#fileupload").change(function(){
                if($("#fileupload").val() == "") return;
                $("#myupload").ajaxSubmit({
                    dataType:  'json',
                    beforeSend: function() {
                        $('#litpic_show').empty();
                        btn.html("上传中...");
                    },
                    success: function(data) {

                        if(data.state == 'SUCCESS'){

                            litpic_tip.html(""+ tpl_upload+data.info[0].name +" 上传成功("+data.info[0].size+"k)");
                            var img = data.info[0].url;//原图
                            $('#litpic_show').html("<img src='"+tpl_upload+img+"' width='120'>");
                            $("#litpic").val(img);
                        }else {
                            litpic_tip.html(data.state);
                        }
                        btn.html("添加图片");

                    },
                    error:function(xhr){
                        btn.html("上传失败");
                        litpic_tip.html(xhr);
                    }
                });
            });

        });

	</script>
</head>
<body>
<div class="main">
    <div class="pos">{$type}</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="{:U('Answer/addevent')}">
		<dl>
			<dt> 活动名</dt>
			<dd>
				<?php if(is_numeric($id) && $id>0){ echo $vo['name'];}else{ ?>
				<input type="text" name="name" class="inp_one" value="{$vo.name}"  />
				<?php }?>
			</dd>
		</dl>
		<dl>
			<dt>图片上传</dt>
			<dd>
				<div class="litpic_show">

					<div class="litpic_btn">
						<span>添加主图</span>
						<input id="fileupload" type="file" name="mypic">
					</div>
					<div style="float:left;">
						<input type="text" class="inp_w250 inp_w251" name="litpic" id="litpic"  value="{$vo.img}" />
					</div>
					<div class="litpic_tip"></div>
					<div class="clear"></div>
				</div>
				<div id="litpic_show">
					<if condition="$vo['img']"><img src="__UPLOAD__{$vo.img}" width='120' /></if>
				</div>
			</dd>
		</dl>

		<dl>
			<dt> 主链接</dt>
			<dd>
				<input type="text" name="link" class="inp_one" value="{$vo.link}"/>
			</dd>
		</dl>


        <div class="form_b">
			<if condition="$id">
			<input type="hidden" name="id" value="{$id}" />
			</if>
			<input type="submit" class="btn_blue" id="submit" value="提 交">
		</div>
		
	   </form>
	</div>
</div>
<script type="application/javascript">

</script>
</body>
</html>