<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script language="JavaScript">
    <!--
        var URL = '__URL__';
        var APP	 = '__APP__';
        var SELF='__SELF__';
        var PUBLIC='__PUBLIC__';
    //-->
</script>
<script language="JavaScript" type="text/javascript">
function GetDel()
{
	if(confirm('是否批量删除已选的图片'))
	{
		var str="";
		$("[name='select']:checked").each(function(){
			str+=$(this).attr("id")+',';
		})
		//存入值
		$("#selectid").val(str);
		//表单跳转
		if($.trim(str) != "")
		{
			$("#form_select").submit();	
		}
		else
			alert("尚未选中图片");
		
	}
}
function allselect()
{
	if($("#select").attr('checked') == 'checked')
		$("[ name = 'select']").attr('checked','checked');
	else
		$("[ name = 'select']").removeAttr('checked');
}
$(document).ready(function(){
	  $(".regsubmit").click(function(){
		  var verification = $(this).attr("name");
		  $.ajax({
	            type: "POST",
	            url: "{:U('Attachment/attahdel')}",
	            data: {filesname:verification},
	            dataType: "text",
	            success: function(data){
				   if(data=="1"){
					   alert("删除成功");
					   window.location.reload();
				   }
				   if(data=="0"){
					   alert("删除失败");
					   window.location.reload();
				   }
				   if(data=="3"){
					   alert("删除失败，文件夹下有图片未删除");
					   window.location.reload();
				   }
				}	             
	         });
	  });
	});
</script>

<style type="text/css">
.sub li{
	float:left;
}
.sub li a{
	color:grey;
	font-size:14px;
	font-weight:bold;
}
</style>	
</head>
<body>
<div class="main">
    <div class="pos">已上传文件管理</div>
	<div class="operate">
        <div class="left">
			<div class="sub clear"><span>说明：</span>1、引用数：只统计图片类型的文件，被引用的文件建议不删除。2、
        缩略图:只针对图片类型文件。
    </div>
        </div>
        <div class="clear"></div>
    </div>
    
    <!--<div class="sub clear">
    <ul>
    <foreach name='filenames' item='v'>
    <li>
       <a href="#" name="{$v.name}" class="regsubmit">删除</a>
       <a href="{:U('Attachment/index',array('filesname' => $v['name']), '')}">{$v.name}</a>
    </li>
    </foreach>
    </ul>
    </div>-->
    <div class="list">    
    <form action="{:U('Attachment/delAll')}" method="post" id="form_do" name="form_do">
        <table width="100%">
            <tr>
				<th><input type="checkbox" id="select" onclick="allselect()"></th>
                <th>编号</th>
                <th>原文件名称</th>
                <th>文件地址</th>
                <th>文件大小</th>
                <th>缩略图</th>
                <th>上传时间</th>
                <th>引用数</th>
                <th>操作</th>
            </tr>
			<foreach name='vlist' item='v'>
            <tr>
				<td><input type="checkbox" id="{$v.id}" name="select"></td>
                <td>{$v.id}</td>
                <td class="aleft">{$v.title}</td>
                <td class="aleft">{$v.filepath}</td>
                <td>{$v.filesize}</td>
                <td><if condition="$v['haslitpic'] eq 1">有<else/>无</if></td>
                <td>{$v.uploadtime|date='Y-m-d H:i:s', ###}</td>
                <td><if condition="$v['filetype'] eq 1"><span class="red">{$v.num}</span><else/><span>--</span></if></td>
                <td>
                    <if condition="$v['filetype'] eq 1"><a href="{$upload}{$v.filepath}" target="_blank">预览</a><else/>预览</if>
                    <a href="javascript:;" onclick="toConfirm('{:U('Attachment/del',array('id' => $v['id']), '')}', '确实要删除吗？')">删除</a>
				</td>
            </tr>
            </foreach>
        </table>
        <div class="page" style="clear: both;"><form action="{:U('Attachment/delselect')}" method="post" id="form_select" name="form_select">
				<input type="button" onclick="GetDel()" class="btn_blue btn_f" value="批量删除">  
				<input type="hidden" id="selectid" name="selectid">
			</form>{$page}</div>
    </form>
    </div>
</div>
</body>
</html>