<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
 <script language="JavaScript">
        <!--
        var URL = '__URL__';
        var APP  = '__APP__';
        var SELF='__SELF__';
        var PUBLIC='__PUBLIC__';
        //-->
        </script>
</head>
<body>
<div class="main">
    <div class="pos">留言管理
    </div>
    <div class="operate">
        <style>
            ul,li,a{ text-decoration:none;list-style: none; }
            .vatice{overflow: hidden;border-bottom:1px solid #ccc;font-size: 16px;}
            .vatice li{ float: left;padding:0 10px 5px; text-align:center;  }
            .vatice li a{ color:#666; }
            .vatice li.on,.vatice li:hover{ border-bottom:2px solid #21a0fd; }
        </style>
        <ul class="vatice">
            <li <?php if($fp=='all'){ ?>class="on" <?php }?>><a href="{:U('Dmsg/msg')}">全部</a></li>
            <foreach name='type_list' item='v'>
                <li <?php if($fp==$v['value']){ ?>class="on" <?php }?>><a href="{:U('Dmsg/msg',array('fp'=>$v['value']))}">{$v.name}</a></li>
            </foreach>

        </ul>
    </div>
    <div class="list guestbook">    
    <form action="{:U('Guestbook/delAll')}" method="post" id="form_do" name="form_do">
        <table width="100%">
            <tr>
                <th><input type="checkbox" id="check"></th>
                <th style="width:80px">编号</th>
                <th>姓名</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>QQ</th>
                <th>留言内容</th>
                <foreach name='other_field' item='f'>
                <th>{$f.name}</th>
                </foreach>

                <th>提交时间</th>
            </tr>
            <foreach name='vlist' item='v'>
            <tr>
                <td><input type="checkbox" name="key[]" value="{$v.id}"></td>
                <td style="width:80px">{$v.id}</td>

                <td>{$v.username}</td>
                <td>{$v.tel}</td>
                <td>{$v.email}</td>
                <td>{$v.qq}</td>
                <td>{$v.content}</td>
                <foreach name='other_field' item='f'>
                    <td><?php echo $v[$f['value']]?></td>
                </foreach>
                <td>
                    {$v.posttime|date='Y-m-d H:i:s', ###}
                </td>
            </tr>
            </foreach>
        </table>
        <div class="page" style="clear: both"> <input type="button" onclick="doConfirmBatch('{:U('Guestbook/del', array('batchFlag' => 1))}', '确实要删除选择项吗？')" class="btn_blue btn_f" value="删除">    {$page}</div>
    </form>
    </div>
</div>
</body>
</html>