<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>
	<script type="text/javascript" src="{:U('Public/editor')}"></script>
	<script type="text/javascript">
        var data_path = "__DATA__";
        var tpl_public = "__PUBLIC__";
        var tpl_upload = "__UPLOAD__";
	</script>
	<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>
</head>
<body>

<div class="main">
	<div class="pos">{$title}
		<if condition="$_admin_flag eq false">
			[{$_zcinfo.prov}-{$_zcinfo.city}-{$_zcinfo.area}:{$_zcinfo.zc_id|get_zc_name}]
		</if>
	</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="{:U('Event/msg_save')}" onsubmit="return chk_pro()">
			<dl>
				<dt>活动名</dt>
				<dd>
					<input type="text" name="name" id="name" class="inp_large" maxlength="255"  value="{$vo.name}" />
				</dd>
			</dl>

			<dl>
				<dt>活动时间</dt>
				<dd>

					<input type="text" class="inp_one" name="stime" id="stime" <if condition="$vo and $vo.stime neq 0">value="{$vo.stime|date='Y-m-d', ###}"</if> >
					<script type="text/javascript">
                        Calendar.setup({
                            weekNumbers: true,
                            inputField : "stime",
                            trigger    : "stime",
                            dateFormat: "%Y-%m-%d",
                            showTime: true,
                            minuteStep: 1,
                            onSelect   : function() {this.hide();}
                        });
					</script>

					~ <input type="text" class="inp_one" name="etime" id="etime" <if condition="$vo and $vo.etime  neq 0">value="{$vo.etime|date='Y-m-d', ###}"</if> >
					<script type="text/javascript">
                        Calendar.setup({
                            weekNumbers: true,
                            inputField : "etime",
                            trigger    : "etime",
                            dateFormat: "%Y-%m-%d",
                            showTime: true,
                            minuteStep: 1,
                            onSelect   : function() {this.hide();}
                        });
					</script>
					<span class="tips">默认没有时间限制</span>
				</dd>
			</dl>
			<dl>
				<dt>活动地点</dt>
				<dd>
					<input type="text" name="address" id="address" class="inp_large" maxlength="255"  value="{$vo.address}" />

				</dd>
			</dl>

			<div class="right_main" style="border-bottom: 1px solid #EDEDED;padding-top: 8px;padding-bottom: 8px">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
					<tr>
						<td style="width:160px;">参与职场<span class="c999 mal10">（可多选）</span>：</td>
						<td align="left">
							<input type="hidden" name="zc_info" value="{$vo.zc_info}" id="zc_info"/>
							<div id="zcCell">
								<if condition="$vo.zc_info">
									<foreach name="vo.zc_info" item="zc">
										<input type="checkbox" checked="checked" name="zc[]" value="{$zc.id}" id="zc_2" class="inputfix"> {$zc.name}
									</foreach>
								</if>
							</div>
							<div id="zc_all">
								<span style="vertical-align: top">省份： </span>
								<select name="province" id="selProvinces" onchange="region_changed(this, 1)" size="10" style="width:80px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">城市： </span>
								<select name="city" id="selCities" onchange="region_changed(this, 2)" size="10" style="width:80px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">区/县：</span>
								<select name="district" id="selDistricts" onchange="region_changed(this, 3)" size="10" style="width:130px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">职场： </span>
								<select name="zc" id="selZc"  size="10" style="width:180px;height:200px;">
									<option value="">请选择...</option>
								</select>
								<span style="vertical-align: top">
									<input type="button" value="+单个" class="button" onclick="addRegion()">

									<input type="button" value="+全部" class="button" onclick="addAll()">
									<input type="button" value="-全部" class="button" onclick="delAll()">
								</span>
							</div>

						</td>
					</tr>
				</table>
			</div>

			<dl>
				<dt>活动内容</dt>
				<dd>
					<textarea name="content" id="content">{$vo.content}</textarea>
				</dd>
			</dl>


			<div class="form_b">
				<input type="hidden" name="id" value="{$vo.id}" />
				<input type="submit" class="btn_blue" id="submit" value="保 存">
			</div>
		</form>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
        get_prov();
    });

    function get_prov() {
        $.getJSON("{:U('Zc/get_prov_jsdata')}", function(json){
            add_option('selProvinces',json);
        })
    }
    function get_city(pid) {
        $.getJSON("{:U('Zc/get_city_jsdata')}",{pid:pid}, function(json){
            add_option('selCities',json);
        })
    }
    function get_area(pid) {
        $.getJSON("{:U('Zc/get_area_jsdata')}",{pid:pid}, function(json){
            add_option('selDistricts',json);
        })
    }
    function get_zc(pid) {
        $.getJSON("{:U('Zc/get_zc_jsdata')}",{pid:pid}, function(json){
            var id='selZc';
            var html_str='';
            for(var o in json){
                html_str+='<option value="'+json[o].id+'">'+json[o].name+'</option>';
            }
            if(html_str==''){
                alert('该区域没有职场,请重新选择');
            }else{
                $("#"+id).html(html_str);
            }
        })
    }
    function clear_select(id) {
        var clear_html='<option value="">请选择...</option>';
        $("#"+id).html(clear_html);
    }

	/* *
	 * 处理下拉列表改变的函数
	 *
	 * @obj     object  下拉列表
	 * @type    integer 类型
	 * @selName string  目标列表框的名称
	 */
    function region_changed(obj, type) {
        var val=obj.options[obj.selectedIndex].value;
        switch (type){
            case 1:
                get_city(val);
                clear_select('selDistricts');
                clear_select('selZc');
                break;
            case 2:
                get_area(val);
                clear_select('selZc');
                break;
            case 3:clear_select('selZc');get_zc(val);break;
        }
    }

    function add_option(id,json) {
        var html_str='';
        for(var o in json){
            html_str+='<option value="'+json[o].region_id+'">'+json[o].region_name+'</option>';
        }
        $("#"+id).html(html_str);
    }

    //打开规格框
    function rule_open() {
        url = "{:U('Product/rule')}";
        if ($(":input[name='product_ruleid[]']").length > 0) {
            var product_ruleid = new Array();
            $(":input[name='product_ruleid[]']").each(function(){
                product_ruleid.push($(this).val());
            })
            product_ruleid = product_ruleid.join(',');
            url += "&id="+ product_ruleid;
        }
        pe_dialog(url, '选择规格', 1000, 550);
    }

    function addAll() {
        //var zc = new Array(); //定义数组
        var chk_flag=false;

        $("#selZc option").each(function(){ //遍历全部option
            var txt = $(this).val(); //获取option的内容
            var regionId = $(this).val();
            var regionName = $(this).text();
            if(regionName!='请选择...'){
                //zc.push(regionId);
                chk_flag=true;

                // 检查该地区是否已经存在
                var exists = false;
                $("#zcCell input[type=checkbox]").each(function(){
                    if ($(this).val() == regionId) {
                        exists = true;
                        return false;
                    }
                });

                // 创建checkbox
                if (!exists) {
                    var append_html= "<input type='checkbox' name='zc[]' value='" + regionId + "' checked='true' /> " + regionName + "&nbsp;&nbsp;";
                    $('#zcCell').append(append_html);
                }

            }
        });

        if(chk_flag==false){
            alert('没有职场被选择');
            return false;
        }

    }

    function delAll() {
        $("#zcCell").html('');
    }

    function addRegion() {
        var checkIndex=$("#selZc ").get(0).selectedIndex;  //获取Select选择的索引值
        var regionId='';
        var regionName='';
        if (checkIndex >= 0) {
            regionId = $("#selZc").val();
            regionName = $("#selZc").find("option:selected").text();
        } else {
            alert('没有职场被选择');
            return false;
        }

        if(regionName=='请选择...'){
            alert('没有职场被选择');
            return false;
        }

        // 检查该地区是否已经存在
        var exists = false;
        $("#zcCell input[type=checkbox]").each(function(){
            if ($(this).val() == regionId) {
                exists = true;
                alert('该职场已经被选择，请勿重复勾选');
                return false;
            }
        });

        // 创建checkbox
        if (!exists) {
            var append_html= "<input type='checkbox' name='zc[]' value='" + regionId + "' checked='true' /> " + regionName + "&nbsp;&nbsp;";
            $('#zcCell').append(append_html);
        }
    }

    function chk_pro() {
        var title=$("#name").val();
        if(title==""){
            alert('请填写活动名称');
            return false;
        }

        var chk_zc_html='';
        $("#zcCell input[type=checkbox]:checked").each(function(){
            if(chk_zc_html==""){
                chk_zc_html+=$(this).val();
            }else{
                chk_zc_html+=","+$(this).val();
            }
        });
        $("#zc_info").val(chk_zc_html);
        console.log(chk_zc_html);

        return true;
    }
</script>

</body>
</html>