<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

</head>
<body>
<div class="main">
    <div class="pos">
        活动列表
        <if condition="$_admin_flag eq false">
            [{$_zcinfo.prov}-{$_zcinfo.city}-{$_zcinfo.area}:{$_zcinfo.zc_id|get_zc_name}]
        </if>
    </div>
    <div class="operate">
        <div class="left">
            <input type="button" onclick="goUrl('{:U('Event/msg')}')" class="btn_blue btn_red" value="添加活动">
        </div>
    </div>

    <div class="operate">
        <style>
            ul,li,a{ text-decoration:none;list-style: none; }
            .vatice{overflow: hidden;border-bottom:1px solid #ccc;font-size: 16px;}
            .vatice li{ float: left;padding:0 10px 5px; text-align:center;  }
            .vatice li a{ color:#666; }
            .vatice li.on,.vatice li:hover{ border-bottom:2px solid #21a0fd; }
        </style>
        <ul class="vatice">
            <li <?php if($fp==0){ ?>class="on" <?php }?>><a href="{:U('Event/index')}">全部</a></li>
            <li <?php if($fp==1){ ?>class="on" <?php }?>><a href="{:U('Event/index',array('fp'=>1))}">已发布</a></li>
            <li <?php if($fp==2){ ?>class="on" <?php }?>><a href="{:U('Event/index',array('fp'=>2))}">已下线</a></li>
            <li <?php if($fp==3){ ?>class="on" <?php }?>><a href="{:U('Event/index',array('fp'=>3))}">已过期</a></li>
            <li <?php if($fp==4){ ?>class="on" <?php }?>><a href="{:U('Event/index',array('fp'=>4))}">无职场</a></li>

        </ul>
    </div>

    <div class="operate">
        <div class="left">
            <form method="post" action="{:U('Event/index')}">
                <span class="s_span">名称</span>
                <input type="text" name="sname" class="inp_one" value="{$sname}" >
                <input type="hidden" name="fp" value="{$fp}"/>
                <input type="submit" class="btn_blue" style="float: none" value="查  询">
            </form>
        </div>
        <div class="clear"></div>
    </div>

    <div class="list guestbook">    
    <form action="{:U('Event/delAll')}" method="post" id="form_do" name="form_do">
        <table width="100%">
            <tr>

                <th>编号</th>
                <th>活动名</th>
                <th>对应职场</th>
                <th>地点</th>
                <th>发起人</th>
                <th>参与人数</th>
                <th>限制人数</th>
                <th>是否抽奖</th>
                <th>是否预约保费</th>
                <th>活动区域</th>
                <th>状态</th>
                <th>有效时间</th>
                <th>添加时间</th>
                <th style="width: 150px">操作</th>
            </tr>
            <foreach name='vlist' item='v'>
                <tr>
                    <td>{$v.id}</td>
                    <td class="aleft" style="">
                        {$v.name}
                    </td>
                    <td>
                        <foreach name="v.zc_info" item="vv">
                            {$vv.name}&nbsp;&nbsp;
                        </foreach>
                    </td>
                    <td>{$v.address}</td>
                    <td>{$v.adduser}</td>
                    <td>{$v.acnt}</td>
                    <td>{$v.max_member}</td>
                    <td>
                        <if condition="$v.is_draw eq 1">
                        是
                        <else/>
                        否
                        </if>
                    </td>
                    <td>
                        <if condition="$v.is_order eq 1">
                            是
                            <else/>
                            否
                        </if>
                    </td>
                    <td>
                        <if condition="$v.area eq 1">
                            市活动
                            <elseif condition="$v.area eq 2" />
                            分公司活动
                            <elseif condition="$v.area eq 3" />
                            职场活动
                        </if>
                    </td>
                    <td>
                        <if condition="$v['status'] eq 1">
                            <img src="__PUBLIC__/images/dui.png" onclick="toConfirm('{:U('Event/status',array('id' => $v['id'],'flag' =>0))}', '确定要下线该活动吗？')">
                            <else/>
                            <img src="__PUBLIC__/images/cuo.png" onclick="toConfirm('{:U('Event/status',array('id' => $v['id'],'flag' =>1))}', '确定要发布该活动吗？')">
                        </if>
                    </td>
                    <td>
                        <if condition="$v.stime neq 0 and $v.stime neq null">
                        {$v.stime|date='Y-m-d', ###}
                        </if>
                        <span>&nbsp;~&nbsp;</span>
                        <if condition="$v.etime neq 0 and $v.etime neq null">
                            {$v.etime|date='Y-m-d', ###}
                        </if>
                    </td>
                    <td>{$v.addtime|date='Y-m-d H:i:s', ###}</td>
                    <td>
                        <a href="{:U('Home/'.'Event/index',array('id' => $v['id']), '')}" target="_blank">查看二维码</a>
                        <if condition="$v['is_draw'] eq 1">
                            <a href="{:U('Event/draw',array('e_id' => $v['id']), '')}">奖项设置</a>
                            <a href="{:U('Lucky/index',array('e_id' => $v['id']), '')}">中奖管理</a>
                            <a href="{:U('BigScreen/'.'Index/index',array('e_id' => $v['id']), '')}"  target="_blank">抽奖链接</a>

                        </if>
                        <a href="{:U('Appointment/index',array('e_id' => $v['id']), '')}">预约管理</a>
                        <a href="{:U('Check/index',array('e_id' => $v['id']), '')}">签到管理</a>
                        <a href="{:U('Event/msg',array('id' => $v['id']), '')}">编辑</a>
                        <if condition="$v['acnt'] lt 1">
                            <a href="javascript:;" onclick="toConfirm('{:U('Event/del',array('id' => $v['id']), '')}', '确实要删除吗？')">删除</a>
                        </if>

                    </td>
                </tr>
            </foreach>
        </table>
        <div class="page" style="clear: both">
            <!--<input type="button" onclick="doConfirmBatch('{:U('Wenjuan/del', array('batchFlag' => 1))}', '确实要删除选择项吗？')" class="btn_blue btn_f" value="删除">-->
            {$page}
        </div>
    </form>
    </div>
</div>
<style>
    .list td img {
        width: 14px!important;
        height:14px!important;
    }
    .list td.aleft img {
        width: 60px!important;
        height: auto!important;
    }
</style>
</body>
</html>
