<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript">
    $(function(){
		var uid = <if condition="$user['id'] gt 0">{$user.id}<else/>0</if>;
		var validate={username:1,code:1};
		$("input[name='username']").focus();//聚焦
		//验证用户名
		$("input[name='username']").blur(function(){
			var username = $("input[name='username']");
			if($.trim(username.val())==''){
				validate.username=1;
				username.parent().find("span").remove().end().append("<span class='error'>用户名不能为空</span>");
				return ;
			}
			$.post("{:U('Login/checkusername')}",{username:$.trim(username.val()), id:uid},function(stat){
				if(stat==1){	
					validate.username=1;			
					username.parent().find("span").remove().end().append("<span class='error'>用户已经存在</span>");
				}else{					
					validate.username=0;	
					username.parent().find("span").remove();
				}
		
			})			
		});

		$("#form_do").submit(function(){
			if(validate.username==0){
				return true;
			}
			//验证用户名
			$("input[name='username']").trigger("blur");
			return false;
		});
    });
</script>
</head>
<body>
<div class="main">
    <div class="pos">添加职场管理人</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="<if condition='$uid'>{:U('Rbac/editUser')}<else/>{:U('Rbac/addUser')}</if>">
		<dl>
			<dt> 用户名</dt>
			<dd>
				<input type="text" name="username" class="inp_one" value="{$user.username}"/>
			</dd>
		</dl>
		<dl>
			<dt> 密码</dt>
			<dd>
				<input type="password" name="password" class="inp_one" value="{$user.password}"/>
			</dd>
		</dl>
		<dl>
			<dt> 真实姓名</dt>
			<dd>
				<input type="text" class="inp_one" name="realname" value="{$user.realname}" />
			</dd>
		</dl>
		
		<dl>
			<dt> 所属权限组</dt>
			<dd>
			<select name="role_id[]">
				<option value="0">请选择用户组</option>
				<foreach name='role' item='v'>
					<if condition="$v['id'] neq 2">
						<option value="{$v.id}" <if condition="$v['id'] eq $userRote[0]">selected="selected"</if>>{$v.name}</option>
					</if>
				</foreach>
			</select>
			</dd>
		</dl>
			<div class="right_main">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
					<tr>
						<td style="width:90px;">所属职场：</td>
						<td align="left">
							<span style="color: red">{$user.prov}-{$user.city}-{$user.area}&nbsp;&nbsp;{$user.zc_id|get_zc_name}</span>
							<div style="color: blue">(如需更改，点击下方重新选择)</div>
							<div id="zc_all">
								<span style="vertical-align: top">省份： </span>
								<select name="province" id="selProvinces" onchange="region_changed(this, 1)" size="10" style="width:80px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">城市： </span>
								<select name="city" id="selCities" onchange="region_changed(this, 2)" size="10" style="width:80px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">区/县：</span>
								<select name="district" id="selDistricts" onchange="region_changed(this, 3)" size="10" style="width:130px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">职场： </span>
								<select name="zc" id="selZc"  size="10" style="width:180px;height:200px;">
									<option value="">请选择...</option>
								</select>
							</div>
						</td>
					</tr>
				</table>
			</div>
		<dl>
			<dt> 锁定</dt>
			<dd>
				<input type="radio" name="islock" value="1" <if condition='$user.islock eq 1'>checked="checked"</if> />是
				&nbsp;&nbsp;
				<input type="radio" name="islock" value="0" <if condition='$user.islock eq 0'>checked="checked"</if> />否
			</dd>
		</dl>
        <div class="form_b">
		<if condition="$uid">
		<input type="hidden" name="uid" value="{$uid}" />
		</if>
			<input type="submit" class="btn_blue" id="submit" value="保 存">
		</div>
		</div>
		
	   </form>
	</div>

<script type="text/javascript" charset="utf-8">
    $(function(){
        get_prov();
    });

    function get_prov() {
        $.getJSON("{:U('Zc/get_prov_jsdata')}", function(json){
            add_option('selProvinces',json);
        })
    }
    function get_city(pid) {
        $.getJSON("{:U('Zc/get_city_jsdata')}",{pid:pid}, function(json){
            add_option('selCities',json);
        })
    }
    function get_area(pid) {
        $.getJSON("{:U('Zc/get_area_jsdata')}",{pid:pid}, function(json){
            add_option('selDistricts',json);
        })
    }
    function get_zc(pid) {
        $.getJSON("{:U('Zc/get_zc_jsdata')}",{pid:pid}, function(json){
            var id='selZc';
            var html_str='';
            for(var o in json){
                html_str+='<option value="'+json[o].id+'">'+json[o].name+'</option>';
            }
            if(html_str==''){
                alert('该区域没有职场,请重新选择');
            }else{
                $("#"+id).html(html_str);
            }
        })
    }
    function clear_select(id) {
        var clear_html='<option value="">请选择...</option>';
        $("#"+id).html(clear_html);
    }

	/* *
	 * 处理下拉列表改变的函数
	 *
	 * @obj     object  下拉列表
	 * @type    integer 类型
	 * @selName string  目标列表框的名称
	 */
    function region_changed(obj, type) {
        var val=obj.options[obj.selectedIndex].value;
        switch (type){
            case 1:
                get_city(val);
                clear_select('selDistricts');
                clear_select('selZc');
                break;
            case 2:
                get_area(val);
                clear_select('selZc');
                break;
            case 3:clear_select('selZc');get_zc(val);break;
        }
    }

    function add_option(id,json) {
        var html_str='';
        for(var o in json){
            html_str+='<option value="'+json[o].region_id+'">'+json[o].region_name+'</option>';
        }
        $("#"+id).html(html_str);
    }

    function chk_pro() {
        var checkIndex=$("#selZc ").get(0).selectedIndex;
        if (checkIndex >= 0) {
        } else {
            //alert('没有职场被选择');
        }
        return true;
    }
</script>
</body>
</html>