<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

	<script type="text/javascript" src="__PUBLIC__/js/dmAddress.js"></script>

	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/calendar/jscal2.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/calendar/border-radius.css"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/js/calendar/win2k.css"/>
	<script type="text/javascript" src="__PUBLIC__/js/calendar/calendar.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/calendar/lang/en.js"></script>

</head>
<body>
<div class="main">
	<div class="pos">问卷结果</div>
	<div class="operate">
		<div class="left" style="float: left;margin-top:8px">
			<form method="post" action="{:U('Wenjuan/export_answer')}">
				<foreach name="search_p" item="v" key="k">
					<input type="hidden" name="{$k}" value="{$v}"/>
				</foreach>
				<input type="hidden" name="fp" value="{$fp}"/>
				<input type="submit" class="btn_blue btn_red" style="float: none" value="导出">
			</form>
		</div>
		<div class="clear"></div>
	</div>
	<div class="operate">
		<style>
			ul,li,a{ text-decoration:none;list-style: none; }
			.vatice{overflow: hidden;border-bottom:1px solid #ccc;font-size: 16px;}
			.vatice li{ float: left;padding:0 10px 5px; text-align:center;  }
			.vatice li a{ color:#666; }
			.vatice li.on,.vatice li:hover{ border-bottom:2px solid #21a0fd; }
		</style>
		<ul class="vatice">
			<li <?php if($fp==0){ ?>class="on" <?php }?>><a href="{:U('Wenjuan/answer')}">全部</a></li>
			<foreach name="fp_arr" item="v" key="k">
				<li <?php if($fp==$v['id']){ ?>class="on" <?php }?>><a href="{:U('Wenjuan/answer',array('fp'=>$v['id']))}">问卷{$v.id}</a></li>
			</foreach>
		</ul>
	</div>

	<div class="operate">
		<div class="left">
			<form method="post" action="{:U('Wenjuan/answer')}">
				<span class="s_span">&nbsp;&nbsp业务员：</span>
				<select id="cmbProvince" name='sprov'></select>
				<select id="cmbCity" name='scity'></select>
				<select id="cmbArea" name='sarea'></select>
				<script type="text/javascript">
                    $.ajax({
                        type: "POST",
                        url: "{:U('Zc/get_region_jsdata')}",
                        data:{type:'select'},
                        dataType: "json",
                        success: function(data){
                            var provinceList=data;
                            addressInit('cmbProvince', 'cmbCity', 'cmbArea', '{$sprov}', '{$scity}', '{$sarea}',provinceList);
                        }
                    });
				</script>
				<input type="text" name="sdep" class="inp_one" value="{$sdep}" >
				<span class="s_span">问卷名称</span>
				<input type="text" name="swjname" class="inp_one" value="{$swjname}" >
				<!--<span class="s_span">姓名</span>
				<input type="text" name="sname" class="inp_one" value="{$sname}" >
				<span class="s_span">手机号</span>
				<input type="text" name="sphone" class="inp_one" value="{$sphone}" >-->
				<span class="s_span">时间：</span>
				<input type="text" style="width:100px;" name="stime" id="stime" class="inp_one" value="{$stime}" />
				<script type="text/javascript">
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "stime",
                        trigger    : "stime",
                        dateFormat: "%Y-%m-%d",
                        showTime: true,
                        minuteStep: 1,
                        onSelect   : function() {this.hide();}
                    });
				</script>
				<input type="text" style="width:100px;" name="etime" id="etime" class="inp_one" value="{$etime}" />
				<script type="text/javascript">
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "etime",
                        trigger    : "etime",
                        dateFormat: "%Y-%m-%d",
                        showTime: true,
                        minuteStep: 1,
                        onSelect   : function() {this.hide();}
                    });
				</script>

				<input type="hidden" name="fp" value="{$fp}"/>

				<input type="submit" class="btn_blue" style="float: none" value="查  询">
			</form>
		</div>
		<div class="clear"></div>
	</div>

	<div class="list guestbook">
		<form action="{:U('Wenjuan/an_delAll')}" method="post" id="form_do" name="form_do">
			<table width="100%">
				<tr>
					<th><input type="checkbox" id="check"></th>
					<th>编号</th>
					<th>区域</th>
					<th>职场</th>
					<th>组号</th>
					<th>业务员</th>
					<th>问卷名</th>
					<th>客户姓名</th>
					<th>客户电话</th>
					<th>联系地址</th>
					<th>客户1</th>
					<th>电话1</th>
					<th>客户2</th>
					<th>电话2</th>
					<th>客户3</th>
					<th>电话4</th>
					<th>添加时间</th>
					<th>操作</th>
				</tr>
				<foreach name='vlist' item='v'>
					<tr>
						<td><input type="checkbox" name="key[]" value="{$v.id}"></td>
						<td>{$v.id}</td>

						<td>{$v.prov}-{$v.city}-{$v.area}</td>
						<td>{$v.zc}</td>
						<td>{$v.group_no}</td>

						<td>{$v.dep}</td>
						<td class="aleft" style="">
							<img  src="__UPLOAD__/{$v.wj_pic}" style="width:40px;">
							{$v.wj_name}<span style="color: #e4570d;padding-left: 5px;">(问卷{$v.wenjuan_id})</span>
						</td>
						<td>{$v.uname}</td>
						<td>{$v.phone}</td>
						<td>{$v.address}</td>
						<td>{$v.khname1}</td>
						<td>{$v.khtel1}</td>
						<td>{$v.khname2}</td>
						<td>{$v.khtel2}</td>
						<td>{$v.khname3}</td>
						<td>{$v.khtel3}</td>

						<td>{$v.addtime|date='Y-m-d H:i:s', ###}</td>
						<td>
							<a href="{:U('Home/'.'Wenjuan/view',array('aid'=>$v['id']),'')}" target="_blank">查看答题情况</a>
							<a href="javascript:;" onclick="toConfirm('{:U('Wenjuan/an_del',array('id' => $v['id']), '')}', '确实要删除吗？')">删除</a>
						</td>
					</tr>
				</foreach>
			</table>
			<div class="page" style="clear: both">
				<input type="button" onclick="doConfirmBatch('{:U('Wenjuan/an_del', array('batchFlag' => 1))}', '确实要删除选择项吗？')" class="btn_blue btn_f" value="删除">
				{$page}
			</div>
		</form>
	</div>
</div>
<style>
	.list td img {
		width: 14px!important;
		height:14px!important;
	}
	.list td.aleft img {
		width: 60px!important;
		height: auto!important;
	}
</style>
</body>
</html>