<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

    <link rel='stylesheet' type="text/css" href="__PUBLIC__/layui/css/layui.css" />
    <script type="text/javascript" src="__PUBLIC__/layui/layui.js"></script>

    <script type="text/javascript" src="__PUBLIC__/js/dmAddress.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>
    <script type="text/javascript">
        var data_path = "__DATA__";
        var tpl_public = "__PUBLIC__";
        var tpl_upload = "__UPLOAD__";
    </script>
    <script language="JavaScript">
        $(function () {

            upload_ex("picture_tip_1",'fileupload_1',1,"{:U('Zc/import_ex')}");

            function upload_ex(picture_tip_class,fileupload_id,id,url) {
                //图片集上传
                var picture_tip = $("."+picture_tip_class);
                $("#"+fileupload_id).wrap("<form id='picture_form_"+id+"' action='"+url+"' method='post' enctype='multipart/form-data'></form>");
                $("#"+fileupload_id).change(function(){
                    if($("#"+fileupload_id).val() == "") return;

                    $("#picture_form_"+id).ajaxSubmit({
                        dataType:  'json',
                        beforeSend: function() {
                            picture_tip.html("上传中...");
                        },
                        success: function(data) {
                            if(data.state == 'SUCCESS'){
                                //picture_tip.html(""+ tpl_upload+data.info[0].name +" 上传成功("+data.info[0].size+"k)");
                                picture_tip.html("上传成功");
                            }else {
                                picture_tip.html(data.info);
                            }

                        },
                        error:function(xhr){
                            picture_tip.html("上传失败"+xhr);

                        }
                    });
                });
            }
        });

        function sorts(id)
        {
            var sort = $(".sort"+id).val();
            $.ajax({
                type: "POST",
                url: "{:U('Zc/sort')}",
                data: {sort:sort,id:id},
                dataType: "text",
                success: function(data){

                }

            });
        }
    </script>
</head>
<body>
<div class="main">
    <div class="pos">职场管理</div>
    <div class="operate">
        <div class="left">
            <div class="litpic_show">
                <div class="litpic_btn" >
                    <span>导入数据</span>
                    <input  id="fileupload_1" type="file" name="mypic_1">
                </div>
                <div class="picture_tip_1" style="color:red;"></div>
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <div class="operate">
        <div class="left">
            <input type="button" onclick="goUrl('{:U('Zc/msg')}')" class="btn_blue " value="添加职场">
            <a href="__PUBLIC__/file/zc_tpl.xls" class="btn_blue">下载模板</a>
            <input type="button" onclick="goUrl('{:U('Zc/export_ex')}')" class="btn_blue btn_red" value="导出">

        </div>
        <div class="clear"></div>
    </div>

    <div class="operate">
        <div class="left">
            <form method="post" action="{:U('Zc/index')}">
                <span class="s_span">职场名：</span><input type="text" name="keyword" class="inp_one" value="{$keyword}" >
                <span class="s_span">联系人：</span><input type="text" name="sname" class="inp_one" value="{$sname}" >
                <span class="s_span">&nbsp;&nbsp;联系电话：</span><input style="width:100px;" type="text" name="sphone" class="inp_one" value="{$sphone}" >
                <span class="s_span">&nbsp;&nbsp;所在区域：</span>

                <select id="cmbProvince" name='sprov'></select>
                <select id="cmbCity" name='scity'></select>
                <select id="cmbArea" name='sarea'></select>
                <script type="text/javascript">
                    $.ajax({
                        type: "POST",
                        url: "{:U('Zc/get_region_jsdata')}",
                        data:{type:'select'},
                        dataType: "json",
                        success: function(data){
                            var provinceList=data;
                            addressInit('cmbProvince', 'cmbCity', 'cmbArea', '{$sprov}', '{$scity}', '{$sarea}',provinceList);
                        }
                    });
                </script>

                <input type="hidden" name="fp" value="{$fp}"/>
                <input type="submit" class="btn_blue" style="float: none" value="查  询">
            </form>
        </div>
        <div class="clear"></div>
    </div>

    <div class="list list0">
        <form action="{:U('Zc/sort')}" method="post" id="form_do" name="form_do">
            <table width="100%">
                <tr class="">
                    <th><input type="checkbox" id="check"></th>
                    <th>编号</th>
                    <th >名称</th>
                    <th style="width: 100px;">联系人</th>
                    <th style="width: 100px;">联系电话</th>
                    <th style="width: 150px;">所在区域</th>
                    <th style="width: 200px;">地址</th>
                    <th style="width: 180px;">添加时间</th>
                    <th>排序</th>
                    <th style="width: 120px;">操作</th>
                </tr>
                <foreach name='vlist' item='v'>
                    <tr >
                        <td><input type="checkbox" name="key[]" value="{$v.id}"></td>
                        <td>{$v.id}</td>
                        <td >{$v.name}</td>
                        <td >{$v.contact}</td>
                        <td >{$v.tel}</td>
                        <td >{$v.prov}-{$v.city}-{$v.area}</td>
                        <td >{$v.addr}</td>
                        <td>{$v.addtime|date='Y-m-d H:i:s', ###}</td>
                        <td>
                            <input type="text" name="sort" value="{$v.sort}" onblur="sorts({$v.id})" class="sort{$v.id}"  size="5" /></td>
                        <td>
                            <a href="{:U('Zc/msg',array('id' => $v['id'],'parameter'=>I('parameter')))}">修改</a>
                            <a href="javascript:;" onclick="toConfirm('{:U('Zc/del', array('id' => $v['id'],'parameter'=>I('parameter')))}', '确实要删除吗？')">删除</a>
                        </td>
                    </tr>
                </foreach>
            </table>
            <div class="page" style="clear: both;">{$page} </div>
        </form>
    </div>

</div>
</body>
</html>
