<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>

	<script type="text/javascript">
        var data_path = "__DATA__";
        var tpl_public = "__PUBLIC__";
        var tpl_upload = "__UPLOAD__";
	</script>

	<script language="JavaScript">
        function sorts(id)
        {
            var sort = $(".sort"+id).val();
            $.ajax({
                type: "POST",
                url: "{:U('Answer/ev14_sort')}",
                data: {sort:sort,id:id},
                dataType: "text",
                success: function(data){
                    if(data==1){
                        //  alert("ok");
                    }else{
                        //   alert("error");
                    }
                }

            });
        }

        function ranks(id)
        {
            var rank = $(".rank"+id).val();
            $.ajax({
                type: "POST",
                url: "{:U('Answer/ev14_rank')}",
                data: {rank:rank,id:id},
                dataType: "text",
                success: function(data){
                    if(data==1){
                        //  alert("ok");
                    }else{
						alert(data);
                    }
                }

            });
        }
	</script>

</head>
<body>

<div class="main">
	<div class="pos">球队管理</div>
	</br>

	<div class="operate">
		<div class="left">
			<div class="sub clear"><span>说明：</span>1、更改数据后刷新页面即可看到。2、修改最终名次必须先关闭活动。3、最终名次前四名会影响兑奖情况
			</div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="list">

			<table width="100%">
				<tr>
					<th >编号</th>
					<th >国家</th>
					<th >活动页衣服图</th>
					<!--<th >选择页图片</th>-->
					<th >活动页被选图</th>
					<th >前台猜奖</th>
					<th >最终名次</th>
					<th >显示顺序</th>
				</tr>

				<foreach name='vlist' item='v'>
					<tr>
						<td >{$v.id}</td>
						<td style="width: 120px">{$v.name}</td>
						<td  ><img src="/Public/Mobile/default/images/ev14/pic1/{$v.pic1}"  alt=""/></td>
						<!--<td ><img src="/Public/Mobile/default/images/ev14/pic2/{$v.pic2}" alt=""/></td>-->
						<td ><img src="/Public/Mobile/default/images/ev14/pic3/{$v.pic3}" alt=""/></td>
						<td >
							<?php if($v['is_guess']==1){ ?>
							<span style="color: red">是</span>
							<a href="javascript:;" class=""  onclick="toConfirm('{:U('Answer/ev14_display',array('id' =>$v['id'],'opt' =>0), '')}', '确定此次竞猜要取消【{$v.name}】队吗？')">点此在前台关闭</a>
							<?php }else{ ?>
							<span>否</span>
							<a href="javascript:;" class=""  onclick="toConfirm('{:U('Answer/ev14_display',array('id' =>$v['id'],'opt' =>1), '')}', '确定此次竞猜要加入【{$v.name}】队吗？')">点此在前台显示</a>
							<?php } ?>
						</td>
						<td ><input type="text" name="prank" value="{$v.rank}" onblur="ranks({$v.id})" class="rank{$v.id}"  size="5" /></td>
						<td ><input type="text" name="psort" value="{$v.sort}" onblur="sorts({$v.id})" class="sort{$v.id}"  size="5" /></td>

					</tr>
				</foreach>
			</table>

	</div>
</div>

</body>
</html>