<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript">

	</script>
</head>
<body>
<div class="main">
	<div class="pos">{$type}奖品</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="<if condition='$id'>{:U('Answer/editprize')}<else/>{:U('Answer/addprize')}</if>">
			<dl>
				<dt> 选择期数</dt>
				<dd>
					<select name="qs">
						<foreach name='select_qs' item='qs'>
							<option <?php if($list['qs']==$qs['value']){ ?>selected="selected"<?php }?> value="{$qs.value}">{$qs.name}</option>
						</foreach>
					</select>
				</dd>
			</dl>

			<dl>
				<dt> 奖项</dt>
				<dd>
					<input type="text" name="level" class="inp_one" value="{$list.level}"/>
				</dd>
			</dl>
			<dl>
				<dt> 奖品</dt>
				<dd>
					<input type="text" name="name" class="inp_one" value="{$list.name}"/>
				</dd>
			</dl>
			<dl>
				<dt> 奖品数量</dt>
				<dd>
					<input type="text" name="cnt" class="inp_one" value="{$list.cnt}"/>
				</dd>
			</dl>

			<dl>
				<dt> 获奖称号</dt>
				<dd>
					<input type="text" name="title" class="inp_one" value="{$list.title}"/>
				</dd>
			</dl>


			<dl>
				<dt> 应答对题目数</dt>
				<dd>
					<input type="text" name="min_score" style="width:50px;" class="inp_one" value="{$list.min_score}"/>~
					<input type="text" name="max_score" style="width:50px;" class="inp_one" value="{$list.max_score}"/>
				</dd>
			</dl>


			<dl>
				<dt> 称号图片</dt>
				<dd>
					<input type="text" name="img" class="inp_one" value="{$list.img}"/>
					<div style="color: red">填写示例:XXX.png </div>
					<div style="color: red">请到/Public/Mobile/default/images路径下上传图片</div>
				</dd>
			</dl>

			<div class="form_b">

				<if condition="$id">
					<input type="hidden" name="id" value="{$id}" />
				</if>
				<input type="submit" class="btn_blue" id="submit" value="提 交">

			</div>

		</form>
	</div>


</body>
</html>