<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title></title>
	<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>

	<script type="text/javascript">
        var data_path = "__DATA__";
        var tpl_public = "__PUBLIC__";
        var tpl_upload = "__UPLOAD__";
	</script>

</head>
<body>

<div class="main">
	<div class="pos">投注金额核销</div>
	</br>

	<div class="operate">
		<span>最终名次：</span>
		<?php foreach($zj_arr as $zj){ ?>
		<span style="color: red"><?php echo $zj?></span>
		<?php } ?>
	</div>

	<div class="operate">
		<div style="float: left;margin-right: 20px;font-size: 18px;">
			<a class="" href="{:U('Answer/export_excel/',array('area'=>'yc'))}" ><i class="icon iconfont icon-daochuexcel"></i>
				<p>导出盐城excel<i></i></p>
			</a>
		</div>
		<div style="float: left;font-size: 18px">
			<a class="" href="{:U('Answer/export_excel/',array('area'=>'ha'))}" ><i class="icon iconfont icon-daochuexcel"></i>
				<p>导出淮安excel<i></i></p>
			</a>
		</div>
		<div style="clear: both"></div>
	</div>

	<div class="operate">
		<style>
			ul,li,a{ text-decoration:none;list-style: none; }
			.vatice{overflow: hidden;border-bottom:1px solid #ccc;font-size: 16px;}
			.vatice li{ float: left;padding:0 10px 5px; text-align:center;  }
			.vatice li a{ color:#666; }
			.vatice li.on,.vatice li:hover{ border-bottom:2px solid #21a0fd; }
		</style>
		<ul class="vatice">
			<li <?php if($area=='yc'){ ?>class="on" <?php }?>><a href="{:U('Answer/ev14/',array('area'=>'yc'))}">盐城</a></li>
			<li <?php if($area=='ha'){ ?>class="on" <?php }?>><a href="{:U('Answer/ev14/',array('area'=>'ha'))}">淮安</a></li>
		</ul>
	</div>

	<div class="list">

			<table width="100%">
				<tr>
					<th rowspan="2">编号</th>
					<!--<th >期数</th>-->
					<th rowspan="2">姓名</th>
					<th rowspan="2">手机号</th>
					<th rowspan="2">公司名</th>
					<th rowspan="2">客户经理</th>
					<th rowspan="2">投注金额</th>
					<th colspan="4" >竞猜队伍</th>

					<th rowspan="2">竞猜中奖率</th>
					<th rowspan="2">返款码</th>
					<th rowspan="2">竞猜时间</th>
					<th rowspan="2">操作</th>
				</tr>
				<tr>
					<th>第一</th>
					<th>第二</th>
					<th>第三</th>
					<th>第四</th>
				</tr>

				<foreach name='vlist' item='v'>
					<tr>
						<td >{$v.id}</td>
						<!--<td style="width: 120px">{$v.qs}</td>-->
						<td  >{$v.uname}</td>
						<td >{$v.phone}</td>
						<td  >{$v.company}</td>
						<td >{$v.customer_manage}</td>
						<td >{$v.money}</td>

						<td >{$v.guess_1}</td>
						<td >{$v.guess_2}</td>
						<td >{$v.guess_3}</td>
						<td >{$v.guess_4}</td>

						<td style="color: red">
							<?php
								$rate=0;
								if($v['guess_1']==$zj_arr[0]){
									$rate+=25;
								}
								if($v['guess_2']==$zj_arr[1]){
									$rate+=25;
								}
								if($v['guess_3']==$zj_arr[2]){
									$rate+=25;
								}
								if($v['guess_4']==$zj_arr[3]){
									$rate+=25;
								}
								echo $rate."%";
							?>
						</td>
						<td >{$v.ev14_code}</td>
						<td>{$v.cj_addtime|date='Y-m-d H:i:s', ###}</td>
						<td>
							<?php if($v['remark']==''){ ?>
							<a href="javascript:;" onclick="toConfirm('{:U('Answer/ev14_confirm',array('id' => $v['id']), '')}', '确实要核销吗？')">核销</a>
							<?php } ?>

						</td>
					</tr>
				</foreach>
			</table>
		<div class="page" style="clear: both;">{$page}</div>
	</div>
</div>

</body>
</html>