<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>

    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style_shop.css" />
    <script type="text/javascript" src="__PUBLIC__/shop/js/global.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/js/arttpl.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/plugin/layer/layer.js"></script>
</head>
<body>
<div class="">
    <div class="tixing corg">【商品优惠】减价50元：请输入 -50；&nbsp;加价50元，请输入+50。</div>
    <form method="post" id="form" autocomplete="off"  action="{:U('Order/changem_save')}" onsubmit="return chk()">

        <table border="0" cellspacing="0" cellpadding="0" class="list">
            <tr>
                <td class="bgtt" width="50" style="border-top:0"></td>
                <td class="bgtt" width="" style="border-top:0">商品详情</td>
                <td class="bgtt" width="81" style="border-top:0">单价(元)</td>
                <td class="bgtt" width="81" style="border-top:0">数量</td>
                <td class="bgtt" width="81" style="border-top:0">小计</td>
                <td class="bgtt" width="81" style="border-top:0">商品优惠</td>
            </tr>

            <foreach name="product_list" item="v" key="k">
                <?php $product_allmoney = deal_num($v['product_money']*$v['product_num'], 'round', 1); ?>
                <?php $product_jjmoney = $v['product_jjmoney'] >0 ? '+'.$v['product_jjmoney']:$v['product_jjmoney']; ?>
            <tr>
                <td width="50">
                    <img src="__UPLOAD__/{$v['product_logo']|get_picture=100,100}" width="40" height="40" class="imgbg"></td>
                <td style="text-align:left;">
                    <a href="" title="{$v['product_name']}" target="_blank" class="cblue">{$v['product_name']}</a>
                    <p class="c888 mat5">{$v['product_rule']|order_skushow}</p>
                </td>
                <td width="80" style="border-left:1px solid #eee;">
                    <span class="num" id="product_money_{$v['orderdata_id']}">{$v['product_money']}</span>
                </td>
                <td width="80" style="border-left:1px solid #eee;">
                    <input type="text" name="product_num[{$v['orderdata_id']}]" data_id="{$v['orderdata_id']}" product_num="{$v['product_num']}" value="{$v['product_num']}" class="inputtext input40 c666 js_product_num" >
                </td>
                <td width="80" style="border-left:1px solid #eee;">
                    <span class="num" id="product_allmoney_{$v['orderdata_id']}">{$product_allmoney}</span>
                </td>
                <td width="80" style="border-left:1px solid #eee;">
                    <input type="text" id="product_allmoney_t_{$v['orderdata_id']}" name="product_jjmoney[{$v['orderdata_id']}]" value="{$product_jjmoney}" product_allmoney="{$product_allmoney}" class="js_product_jjmoney inputtext input40 c666" />
                </td>
            </tr>
            </foreach>
        </table>
        <div class="dingdan_heji">

            <div class="dingdan_jiesuan" style="font-family:微软雅黑; font-size:12px; margin-top:0;">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td>商品金额：</td>
                        <td width="100" id="order_product_money">¥ {$info['order_product_money']}</td>
                    </tr>
                    <tr>
                        <td>运费：</td>
                        <td width="100" >¥ 0</td>
                    </tr>
                    <tr>
                        <td>应付金额：</td>
                        <td class=" cred strong" id="order_money">¥ {$info['order_money']}</td>
                    </tr>
                </table>
                <div class="clear"></div>
            </div>
        </div>
        <div class="acenter mat20">
            <input type="hidden" name="id" value="{$order_id}"/>
            <input type="submit" value="提 交" class="tjbtn" />
        </div>
    </form>
    <script type="text/javascript">
        $(function(){
            $(".js_product_num").keyup(function(){
                change_m();
            })

            $(".js_product_jjmoney").keyup(function(){
                change_m();
            })

            function change_m() {
                var product_money=0;
                $(".js_product_num").each(function(i){
                    $(this).val(pe_num($(this).val(), 'round', 0));
                    var tmp_m= pe_num($("#product_money_"+$(this).attr("data_id")).html(), 'round', 1)* $(this).val();
                    $("#product_allmoney_"+$(this).attr("data_id")).html(tmp_m);
                    $("#product_allmoney_t_"+$(this).attr("data_id")).attr('product_allmoney',tmp_m);
                })

                $(".js_product_jjmoney").each(function(i){
                    product_money += pe_num($(this).attr("product_allmoney"), 'round', 1) + pe_num($(this).val(), 'round', 1);
                })
                product_money = pe_num(product_money, 'round', 1);
                var order_money = product_money;
                if (order_money < 0) order_money = 0;
                product_money = pe_num(product_money, 'round', 1, true);
                order_money = pe_num(order_money, 'round', 1, true);
                $("#order_product_money").html("¥ " + product_money);
                $("#order_money").html("¥ " + order_money);
            }
        })

        function chk() {
            return true;
        }
    </script>
</div>

<style type="text/css">
    .right_bottom{padding:0;border:0;border-top:1px solid #f1f1f1;padding-top:10px}
    #fabu_btn{position:fixed; display:block; bottom:0; left:0; height:40px; line-height:40px; width:100%;  text-align:center; background:#fff; padding-bottom:10px}
    #fabu_btn a{background:#f8f8f8; color:#666; font-size:15px; display:block; border-radius:20px; margin:0 15px; border:1px solid #ddd}
    #fabu_btn:hover{color:#fff}
</style>

</body>
</html>
