<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.form.min.js"></script>
<script type="text/javascript" src="{:U('Public/editor')}"></script>


	<link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style_shop.css" />
	<script type="text/javascript" src="__PUBLIC__/shop/js/global.js"></script>
	<script type="text/javascript" src="__PUBLIC__/shop/js/arttpl.js"></script>
	<script type="text/javascript" src="__PUBLIC__/shop/plugin/layer/layer.js"></script>

<script type="text/javascript">
	var data_path = "__DATA__";
	var tpl_public = "__PUBLIC__";
	var tpl_upload = "__UPLOAD__";
</script>
<script type="text/javascript" src="__PUBLIC__/js/calendar.config.js"></script>
<script type="text/javascript" src="__DATA__/static/jq_plugins/iColorPicker/iColorPicker.js"></script>
<script type="text/javascript">
$(function () {
	//图片集上传
	var picture_show = $('#picture_show');
	var picture_tip = $(".picture_tip");
	$("#picture_upload").wrap("<form id='picture_form' action='{:U('Public/upload')}' method='post' enctype='multipart/form-data'></form>");
    $("#picture_upload").change(function(){
    	if($("#picture_upload").val() == "") return;    
    	if ($("#picture_show>.picture_item").length >=10 ) {alert('产品最多上传10张');return;}
    	
		$("#picture_form").ajaxSubmit({
			dataType:  'JSON',
			beforeSend: function() {
				picture_tip.html("上传中...");
    		},
			success: function(data) {
			
				if(data.state == 'SUCCESS'){	
					picture_tip.html(""+ tpl_upload+data.info[0].name +" 上传成功("+data.info[0].size+"k)");					
					var img = data.info[0].url;
					var picture_html= '<div class="picture_item"><img src="'+ tpl_upload+img +'" width="120"><div class="picture_del">删除</div><div class="picture_go_up">前移</div><input type="hidden" name="pictureurls[]" value="'+ img +'" /></div>'
					picture_show.append(picture_html);
				}else {
					picture_tip.html(data.state);	
				}	

			},
			error:function(xhr){
				picture_tip.html("上传失败"+xhr);

			}
		});
	});

	
});

$(function () {
	//jquery1.7后没有live
	//$(document).on 也行
	$('#picture_show').on('mouseenter',"#picture_show>.picture_item",function(){
			$(this).find('.picture_go_up').show();
			$(this).find('.picture_del').show();
		}).on('mouseleave',"#picture_show>.picture_item",function(){
			$(this).find('.picture_go_up').hide();
			$(this).find('.picture_del').hide();
		}
	); 

    $('#picture_show').on('click','#picture_show .picture_go_up',function () {
        var parent = $(this).parent();
        if (parent.index() == 0){
        }else{
        	parent.prev().before(parent);
        	$(this).hide();
        	parent.find('.picture_del').hide();
        } 
        
    });

    $('#picture_show').on('click','#picture_show .picture_del',function () {
        var img = $(this).next().val();//下个元素input的值 
		$(this).parent().remove();////移除父元素

		return;
		$.post("action.php?act=delimg",{imagename:pic},function(msg){
			if(msg==1){
				litpic_show.empty();
			}else{
				alert(msg);
			}
		});        
    });

});
</script>
</head>
<body>
<div class="main">
    <div class="pos">{$type_title}</div>
	<div class="form">
		<form method='post' id="form_do" name="form_do" action="{:U('Product/msg')}" onsubmit="return chk_pro()">
		<dl>
			<dt>商品名称</dt>
			<dd>
				<input type="text" name="title" id="title" class="inp_large" value="{$vo.title}" maxlength="30"/>
			</dd>
		</dl>

			<div class="right_main">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
					<tr>
						<td align="right">商品规格：</td>
						<td>
							<a href="javascript:;" class="admin_btn mar10" onclick="rule_open()">选择规格</a>
							<a href="javascript:;" class="admin_btn" onclick="rule_close()">关闭规格</a>
						</td>
					</tr>
					<tr id="rule_html" style="display:none">
						<td align="right">规格信息：<input type="hidden" id="ruledata_id" value="{$ruledata_id}" /></td>
						<td id="rule_list">
							<script type="text/html" id="rule_list_tpl">
								<table width="100%" class="list" style="width:620px;">
									<tr>
										{{each rule_list as v}}
										<th class="bgtt">{{v.name}}
											<input type='hidden' name='rule_id[]' value='{{v.id}}' />
											<input type='hidden' name='rule_name[]' value='{{v.name}}' />
										</th>
										{{/each}}
										<th class="table_td bgtt" width="100">价格(元)<a href="javascript:rule_bat('money');" class="cblue mal5">[批]</a></th>
										<th class="table_td bgtt" width="100">库存(件)<a href="javascript:rule_bat('num');" class="cblue mal5">[批]</a></th>
									</tr>
									{{each prodata_list as v k}}
									<tr>
										{{each v.name_arr as vv kk}}
										{{if rowspan_list[k][kk] > 0}}<td rowspan="{{rowspan_list[k][kk]}}">{{vv}}</td>{{/if}}
										{{/each}}
										<td class="table_td"><input type="text" name="money[]" value="{{v.money}}" class="inputtext input50" /></td>
										<td class="table_td">
											<input type="text" name="num[]" value="{{v.num}}" class="inputtext input40" />
											<input type="hidden" name="product_ruleid[]" value="{{v.id}}" />
											<input type="hidden" name="product_rulename[]" value="{{v.name}}" />
										</td>
									</tr>
									{{/each}}
								</table>
							</script>
						</td>
					</tr>
					<tr id="base_html">
						<td align="right">商品价格：</td>
						<td>
							<input type="text" name="info[money]" id="money" value="{$info['money']|floatval}" class="inputall input100" /> <span class="c888">元</span></span>，
							库存：<input type="text" name="info[num]" id="num" value="{$info['num']}" class="inputall input100" /> <span class="c888">件</span>
						</td>
					</tr>
					<!--
					<tr>
						<td align="right">运　　费：</td>
						<td><input type="text" name="info[wlmoney]" value="{$info['wlmoney']|floatval}" class="inputall input100" /> <span class="c888">元</span></td>
					</tr>
					-->
				</table>
			</div>

			<div class="right_main">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
					<tr>
						<td style="width:160px;">所属职场<span class="c999 mal10">（可多选）</span>：</td>
						<td align="left">
							<input type="hidden" name="zc_info" value="{$vo.zc_info}" id="zc_info"/>
							<div id="zcCell">
								<if condition="$vo.zc_info">
									<foreach name="vo.zc_info" item="zc">
										<input type="checkbox" checked="checked" name="zc[]" value="{$zc.id}" id="zc_2" class="inputfix"> {$zc.name}
									</foreach>
								</if>
							</div>
							<div id="zc_all">
								<span style="vertical-align: top">省份： </span>
								<select name="province" id="selProvinces" onchange="region_changed(this, 1)" size="10" style="width:80px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">城市： </span>
								<select name="city" id="selCities" onchange="region_changed(this, 2)" size="10" style="width:80px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">区/县：</span>
								<select name="district" id="selDistricts" onchange="region_changed(this, 3)" size="10" style="width:130px;height:200px;">
									<option value="">请选择...</option>
								</select>

								<span style="vertical-align: top">职场： </span>
								<select name="zc" id="selZc"  size="10" style="width:180px;height:200px;">
									<option value="">请选择...</option>
								</select>
								<span style="vertical-align: top">
									<input type="button" value="+单个" class="button" onclick="addRegion()">

									<input type="button" value="+全部" class="button" onclick="addAll()">
									<input type="button" value="-全部" class="button" onclick="delAll()">
								</span>
							</div>

						</td>
					</tr>
				</table>
			</div>
		<dl>
			<dt> 商品图片</dt>
			<dd>
				<div class="litpic_show">				    
					<div class="btn_up">
				        <span>多图上传</span>
				        <input id="picture_upload" type="file" name="mypic1">
				    </div>
				    <div class="picture_tip"></div>
				    <div class="clear"></div>
				</div>
                <div id="picture_show">
				    <foreach name='vo.pictureurls' item='value'>
				    	<div class="picture_item"><img src="__UPLOAD__{$value.url}" width="120"><div class="picture_del">删除</div><div class="picture_go_up">前移</div><input type="hidden" name="pictureurls[]" value="{$value.url}" /></div>
				    </foreach>
				    </div>
			</dd>
		</dl>
		<dl style="display:none">
			<dt> 排序</dt>
			<dd>
				<input type="text" name="psort" class="inp_w250" value="{$vo.psort}" />
			</dd>
		</dl>

		<dl>
			<dt>商品内容</dt>
			<dd>
				<textarea name="content" id="content">{$vo.content}</textarea>
			</dd>
		</dl>
		<dl style="display:none">
            <dt> 发布时间</dt>
            <dd>
                
                <input type="text" class="inp_one" name="publishtime" id="publishtime" value="{$vo.publishtime|date='Y-m-d H:i:s',###}">
                <script type="text/javascript">
                    Calendar.setup({
                        weekNumbers: true,
                        inputField : "publishtime",
                        trigger    : "publishtime",
                        dateFormat: "%Y-%m-%d %H:%M:%S",
                        showTime: true,
                        minuteStep: 1,
                        onSelect   : function() {this.hide();}
                    });
                </script>
            </dd>
        </dl>	
			<div>
        <dl class="xs">
          <dt></dt>
          <dd>设置其他内容（一般情况无需设置）</dd>
        </dl>
        <dl class="yc">
			<dt> 文本1</dt>
			<dd><input type="text" name="text1" class="inp_one" value="{$vo.text1}"/></dd>
		</dl>
		<dl class="yc">
			<dt> 文本2</dt>
			<dd><input type="text" name="text2" class="inp_one" value="{$vo.text2}"/></dd>
		</dl>
		<dl class="yc" >
			<dt> 文本3</dt>
			<dd><input type="text" name="text3" class="inp_one" value="{$vo.text3}"/></dd>
		</dl>
		<dl class="yc">
			<dt> 文本4</dt>
			<dd><input type="text" name="text4" class="inp_one" value="{$vo.text4}"/></dd>
		</dl>
			</div>
		<div class="form_b">
			<input type="hidden" name="id" value="{$vo.id}" />
			<input type="submit" class="btn_blue" id="submit" value="保 存">
		</div>
	   </form>
	</div>
</div>
<script type="text/javascript" charset="utf-8">
    $(function(){
        rule_list("{$info['id']}", 'datalist');
        get_prov();
    });

    function get_prov() {
        $.getJSON("{:U('Zc/get_prov_jsdata')}", function(json){
            add_option('selProvinces',json);
        })
    }
    function get_city(pid) {
        $.getJSON("{:U('Zc/get_city_jsdata')}",{pid:pid}, function(json){
            add_option('selCities',json);
        })
    }
    function get_area(pid) {
        $.getJSON("{:U('Zc/get_area_jsdata')}",{pid:pid}, function(json){
            add_option('selDistricts',json);
        })
    }
    function get_zc(pid) {
        $.getJSON("{:U('Zc/get_zc_jsdata')}",{pid:pid}, function(json){
            var id='selZc';
            var html_str='';
            for(var o in json){
                html_str+='<option value="'+json[o].id+'">'+json[o].name+'</option>';
            }
            if(html_str==''){
                alert('该区域没有职场,请重新选择');
			}else{
                $("#"+id).html(html_str);
			}
        })
    }
    function clear_select(id) {
		var clear_html='<option value="">请选择...</option>';
        $("#"+id).html(clear_html);
    }

	/* *
	 * 处理下拉列表改变的函数
	 *
	 * @obj     object  下拉列表
	 * @type    integer 类型
	 * @selName string  目标列表框的名称
	 */
    function region_changed(obj, type) {
        var val=obj.options[obj.selectedIndex].value;
		switch (type){
			case 1:
			    get_city(val);
			    clear_select('selDistricts');
                clear_select('selZc');
			break;
			case 2:
			    get_area(val);
                clear_select('selZc');
			break;
			case 3:clear_select('selZc');get_zc(val);break;
		}
    }

    function add_option(id,json) {
		var html_str='';
        for(var o in json){
            html_str+='<option value="'+json[o].region_id+'">'+json[o].region_name+'</option>';
        }
        $("#"+id).html(html_str);
    }

    //打开规格框
    function rule_open() {
        url = "{:U('Product/rule')}";
        if ($(":input[name='product_ruleid[]']").length > 0) {
            var product_ruleid = new Array();
            $(":input[name='product_ruleid[]']").each(function(){
                product_ruleid.push($(this).val());
            })
            product_ruleid = product_ruleid.join(',');
            url += "&id="+ product_ruleid;
        }
        pe_dialog(url, '选择规格', 1000, 550);
    }
    //关闭规格
    function rule_close() {
        $("#rule_html").hide();
        $("#rule_html tr").remove();
        $("#base_html").show();
    }
    //显示规格列表
    function rule_list(id, act) {
        var json_url = "{:U('Product/[R]')}";
        json_url=json_url.replace('[R]',act);
        $.getJSON(json_url, {id:id}, function(json){
            if (json.result) {
                $("#rule_html").show();
                $("#base_html").hide();
                pe_jsontpl('rule_list', json);
            }
        })
    }
    //删除规格列表
    function rule_del(id) {
        if ($("#rule_html tr").length <= 2) {
            rule_close();
        }
        else {
            $("#"+id).remove();
        }
    }
    //批量设置价格
    function rule_bat(name) {
        if (name == 'money') text = '价格';
        if (name == 'num') text = '库存数';
        var num = window.prompt("批量设置" + text, "");
        if (num == '') {
            alert('不能为空!');
            return;
        }
        if (num == null) {return;}
        $(":input[name='" + name + "[]']").val(num);
    }

    function addAll() {
        //var zc = new Array(); //定义数组
		var chk_flag=false;

        $("#selZc option").each(function(){ //遍历全部option
            var txt = $(this).val(); //获取option的内容
            var regionId = $(this).val();
            var regionName = $(this).text();
            if(regionName!='请选择...'){
                //zc.push(regionId);
                chk_flag=true;

                // 检查该地区是否已经存在
                var exists = false;
                $("#zcCell input[type=checkbox]").each(function(){
                    if ($(this).val() == regionId) {
                        exists = true;
                        return false;
                    }
                });

                // 创建checkbox
                if (!exists) {
                    var append_html= "<input type='checkbox' name='zc[]' value='" + regionId + "' checked='true' /> " + regionName + "&nbsp;&nbsp;";
                    $('#zcCell').append(append_html);
                }

			}
        });

        if(chk_flag==false){
            alert('没有职场被选择');
            return false;
		}

    }

    function delAll() {
        $("#zcCell").html('');
    }

    function addRegion() {
        var checkIndex=$("#selZc ").get(0).selectedIndex;  //获取Select选择的索引值
		var regionId='';
		var regionName='';
        if (checkIndex >= 0) {
            regionId = $("#selZc").val();
            regionName = $("#selZc").find("option:selected").text();
        } else {
            alert('没有职场被选择');
            return false;
        }

        if(regionName=='请选择...'){
            alert('没有职场被选择');
            return false;
        }

        // 检查该地区是否已经存在
        var exists = false;
        $("#zcCell input[type=checkbox]").each(function(){
            if ($(this).val() == regionId) {
                exists = true;
                alert('该职场已经被选择，请勿重复勾选');
                return false;
            }
        });

        // 创建checkbox
        if (!exists) {
            var append_html= "<input type='checkbox' name='zc[]' value='" + regionId + "' checked='true' /> " + regionName + "&nbsp;&nbsp;";
            $('#zcCell').append(append_html);
        }
    }

    function chk_pro() {
        var title=$("#title").val();
        if(title==""){
            alert('请填写商品名称');
            return false;
        }

        var chk_zc_html='';
        $("#zcCell input[type=checkbox]:checked").each(function(){
            if(chk_zc_html==""){
                chk_zc_html+=$(this).val();
			}else{
                chk_zc_html+=","+$(this).val();
			}
        });
        $("#zc_info").val(chk_zc_html);
        console.log(chk_zc_html);
        if(chk_zc_html==""){
            //alert('请选择职场~');
            //return false;
		}

        var kong_num = rule_num = 0;
        if ($(":input[name='product_ruleid[]']").length > 0) {
            $("#rule_html").find(":input").each(function(){
                if ($(this).attr("disabled") == "disabled" || $(this).is(":hidden")) return true;
                if ($(this).val() == '') kong_num++;
            })
            if (kong_num > 0) {
                alert('规格属性尚未填写完全');
                return false;
            }
        }else{
            var money=$("#money").val();
            var num=$("#num").val();
            var pattern =  /^\d+\.?\d{0,1}$/;
            if(money==''||money==0){
                alert('商品价格不得为空');
                return false;
			}else if(!pattern.test(money)){
                alert('价格必须为数字,小数点后只保留1位');
                return false;
			}
            var pattern =  /^[0-9]+$/ ;
            if(num==''||num==0){
                alert('库存不得为空');
                return false;
            }else if(!pattern.test(num)){
                alert('库存必须为数字');
                return false;
            }
		}

		return true;
    }
</script>
<style type="text/css">
	#rule_html table th, #rule_html table td{border:1px #f1f1f1 solid;}
</style>

</body>
</html>