<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/common.js"></script>


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style_shop.css" />
    <script type="text/javascript" src="__PUBLIC__/shop/js/global.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/js/arttpl.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/plugin/layer/layer.js"></script>

</head>
<body>
<div class="">
    <div class="now">
        <a href="javascript:;" class="sel">{$type_title}<i></i></a>
        <div class="clear"></div>
    </div>
    <form method='post' id="form_do" name="form_do" action="{:U('Rule/msg')}" onsubmit="return chk()">
        <div class="right_main">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="wenzhang mat20 mab20">
                <tr>
                    <td align="right" width="150">规格名称：</td>
                    <td><input type="text" name="info[rule_name]" id="rule_name" value="{$info['rule_name']}" class="inputall input200" /></td>
                </tr>
                <tr>
                    <td align="right">规格备注：</td>
                    <td><input type="text" name="info[rule_memo]"  value="{$info['rule_memo']}" class="inputall input200" /></td>
                </tr>
            </table>
        </div>
        <div class="now">
            <a href="javascript:;" class="sel">选项列表<i></i></a>
            <a href="javascript:ruledata_add();" id="fabu">添加选项</a>
            <div class="clear"></div>
        </div>
        <div class="right_main">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list" id="rule_data">
                <tr>
                    <th class="bgtt" width="150">序号</th>
                    <th class="bgtt" width="210">选项名称</th>
                    <th class="bgtt" width="100">操作</th>
                </tr>

                <foreach name="info_list" item="v" key="k">
                <tr class="ruledata_list">
                    <td>{$k+1}</td>
                    <td class="aleft">
                        <input type="hidden" name="id[]" value="{$v['ruledata_id']}" />
                        <input type="text" name="name[]" value="{$v['ruledata_name']}" class="inputall input200" />
                    </td>
                    <td>
                        <img style="cursor:pointer;" title="向上移动" class="icon_up mat3" src="__PUBLIC__/images/icon_up.gif" />
                        <img style="cursor:pointer;" title="向上移动" class="icon_down mat3 mal10" src="__PUBLIC__/images/icon_down.gif" />
                        <img style="cursor:pointer;" title="删除" class="icon_del mat3 mal10" onclick="rule_del(this, '{$v['ruledata_id']}')" src="__PUBLIC__/images/icon_del.gif" />
                    </td>
                </tr>
                </foreach>
                <tr class="ruledata_list" style="display:none">
                    <td>1</td>
                    <td class="aleft">
                        <input type="hidden" name="id[]" value="" />
                        <input type="text" name="name[]" value="" class="inputall input200" />
                    </td>
                    <td>
                        <img style="cursor:pointer;" title="向上移动" class="icon_up mat3" src="__PUBLIC__/images/icon_up.gif" />
                        <img style="cursor:pointer;" title="向上移动" class="icon_down mat3 mal10" src="__PUBLIC__/images/icon_down.gif" />
                        <img style="cursor:pointer;" title="删除" class="icon_del mat3 mal10" onclick="rule_del(this, 0)" src="__PUBLIC__/images/icon_del.gif" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="mat20 center">
            <input type="hidden" name="rule_id" id="rule_id" value="{$info['rule_id']}" />
            <input type="submit" name="pesubmit" value="提 交" class="tjbtn" />
        </div>
    </form>
</div>
<style>
    .list td img {
        width: 13px !important;
        height: 12px!important;
    }
    .list td input{ line-height:25px; width:240px; height:25px;text-align:center}

</style>
<script type="text/javascript">
    function chk() {
        var rule_id=$("#rule_id").val();
        var rule_name=$("#rule_name").val();
        if(rule_name==""){
            alert('规格名称不得为空');
            return false;
        }
        //验证选项列表
        var list=$(".ruledata_list:visible:first").find("td:first").html();
        if(list!=1){
            alert('规格选项不得为空');
            return false;
        }
        return true;
    }
    
    $(function(){
        $(".icon_up").live("click", function(){
            var current = $(this).parents("tr");
            var prev = $(this).parents("tr").prev();
            if (current.index() > 1) {
                current.insertBefore(prev);
                var current_num = current.find("td:first").html();
                var prev_num = prev.find("td:first").html();
                current.find("td:first").html(prev_num)
                prev.find("td:first").html(current_num)
                current.find("td").css("background-color", "#fff").find(":input").slideUp(100).delay(100).fadeIn(200);
            }
        })
        $(".icon_down").live("click", function(){
            var current = $(this).parents("tr");
            var next = $(this).parents("tr").next();
            if (next.is("tr:visible")) {
                current.insertAfter(next);
                var current_num = current.find("td:first").html();
                var next_num = next.find("td:first").html();
                current.find("td:first").html(next_num)
                next.find("td:first").html(current_num)
                current.find("td").css("background-color", "#fff").find(":input").slideUp(100).delay(100).fadeIn(200);
            }
        })
    })
    function rule_del(_this) {
        $(_this).parents("tr").remove();
    }
    function ruledata_add() {
        $("#rule_data").append($("#rule_data tr:last").clone(true));
        var _num = $(".ruledata_list:visible").length > 0 ? parseInt($(".ruledata_list:visible:last").find("td:first").text()) : 0;
        $(".ruledata_list:hidden:first").show().find("td:first").html(_num + 1);
    }
</script>
</body>
</html>
