<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>


    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/style_shop.css" />
    <script type="text/javascript" src="__PUBLIC__/shop/js/global.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/js/arttpl.js"></script>
    <script type="text/javascript" src="__PUBLIC__/shop/plugin/layer/layer.js"></script>

</head>
<body>
<div class="">
    <div class="now">
        <a href="{:U('Rule/index')}" class="sel">规格列表（{$tongji['all']}）<i></i></a>
        <a href="{:U('Rule/msg')}" id="fabu"><span style="font-weight: bold;font-size: 20px">+</span>添加规格</a>
        <div class="clear"></div>
    </div>
    <div class="right_main">
        <form method="post" id="form">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="list">
                <tr>
                    <th class="bgtt" width="50">ID号</th>
                    <th class="bgtt aleft" width="180" style="padding-left:30px">规格名称</th>
                    <th class="bgtt">规格选项</th>
                    <th class="bgtt" width="110">操作</th>
                </tr>

                <foreach name="vlist" item="v">
                <tr>
                    <td>{$v['rule_id']}</td>
                    <td class="aleft" style="padding-left:30px">
                        {$v['rule_name']}
                        <if condition="$v['rule_memo']"><span class="corg">[{$v['rule_memo']}]</span></if>

                    </td>
                    <td>
                        {$v.rule_id|get_rule_html}
                    </td>
                    <td>
                        <a style="color: #5CB85C" href="{:U('Rule/msg',array('id'=>$v['rule_id']))}" class="admin_edit mar3">修改</a>
                        <a style="color: #FF6600;" href="{:U('Rule/del',array('id'=>$v['rule_id']))}" class="admin_del" onclick="return pe_cfone(this, '删除')">删除</a>
                    </td>
                </tr>
                </foreach>
            </table>
        </form>
    </div>
    <div class="page" style="clear: both;">{$page} </div>
</div>

<style>
    .list td {  width:240px;}

</style>
</body>
</html>
