<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/css/style.css" />
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
 <script language="JavaScript">
        <!--
        var URL = '__URL__';
        var APP	 = '__APP__';
        var SELF='__SELF__';
        var PUBLIC='__PUBLIC__';
		var UPLOAD = "__UPLOAD__";
        //-->
        </script>
 <script language="JavaScript">
     function psorts(id)
     {
    	 var psort = $(".psort"+id).val();
    	 $.ajax({
	            type: "POST",
	            url: "{:U('Xcxproductrecord/psort')}",
	            data: {psort:psort,id:id},
	            dataType: "text",
	            success: function(data){

				}

	         });
	 }
 </script>
</head>
<body>
<div class="main">
    <div class="pos">{$type}
    <if condition='ACTION_NAME eq "index"'>
        | <foreach name='poscate' item='v'>
        <a href="{:U('' . ucfirst($v['tablename']) .'/index', array('pid' => $v['id']))}">{$v.name} &gt; </a>
        </foreach>
    </if>
    </div>
    <div class="operate">
        <div class="left">
            <if condition='ACTION_NAME eq "index"'>
            <else/>
                <input type="button" onclick="goUrl('{:U('Xcxproductrecord/index', array('pid'=>$pid))}')" class="btn_green" value="返回">
            </if>

        </div>
        <if condition='ACTION_NAME eq "index"'>
        <div class="left_pad">
            <i class="heng"></i>
            <form method="post" action="{:U('Xcxproductrecord/index')}">
                <i></i><input type="text" name="keyword" title="关键字" class="inp_default inp_bg" value="{$keyword}" placeholder="搜索" onfocus="if (value=='搜索'){value=''}" onblur="if(value==''){value='搜索'}">
                <input type="hidden" name="pid" value="{$pid}">
                <!-- <input type="submit" class="btn_blue" value="查  询"> -->
            </form>
        </div>
        </if>
        <div class="clear"></div>
    </div>
    <style>
      ul,li,a{ text-decoration:none;list-style: none; }
      .vatice{overflow: hidden;border-bottom:1px solid #ccc;font-size: 16px;}
      .vatice li{ float: left;padding:0 10px 5px; text-align:center;  }
      .vatice li a{ color:#666; }
      .vatice li.on,.vatice li:hover{ border-bottom:2px solid #21a0fd; }
    </style>
    <ul class="vatice">
      <li <?php if($status==''){ ?>class="on" <?php }?>><a href="{:U('Xcxproductrecord/index')}">全部</a></li>
      <li <?php if($status=='2'){ ?>class="on" <?php }?>><a href="{:U('Xcxproductrecord/index',array('status'=>2),'')}">已支付</a></li>
      <li <?php if($status=='0'){ ?>class="on" <?php }?>><a href="{:U('Xcxproductrecord/index',array('status'=>0),'')}">未支付</a></li>
    </ul>
    <div class="list">
    <form action="{:U('Xcxproductrecord/delAll')}" method="post" id="form_do" name="form_do">
        <table width="100%">
            <tr>
                <th>序号</th>
                <th>编号</th>
                <th>用户名称</th>
                <th>订单号</th>
                <th>充值对象</th>
				        <th>充值金额</th>
                <th>返币数量</th>
                <th>时间</th>
                <th>状态</th>
            </tr>
			<foreach name='vlist' item='v'>
            <tr>
                <td><?php echo ++$i?></td>
                <td>{$v.id}</td>
                <td class="aleft">{$v.nickname}</td>
                <td>{$v.orderbn}</td>
                <td>{$v.title}</td>
				        <td>{$v.price}</td>
                <td>{$v.reicon}</td>
                <td>{$v.time|date='Y-m-d H:i:s',###}</td>
                <td><?php echo $v['status'] == '2'?"已支付":"未支付"?></td>
            </tr>
            </foreach>
        </table>
        <div class="page">
		{$page}
		</div>
    </form>
    </div>
</div>
</body>
</html>
